* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.header {
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    gap: 30px;
    background-color: darkslategray;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: sans-serif;
}

a,
li {
    text-decoration: none;
    list-style: none;
    background-color: darkslategray;
    color: azure;
    padding-bottom: 3px;
}

a:hover {
    color: aquamarine;
    margin-bottom: 50px;
    font-size: 50px;
}

body {
    background: linear-gradient(to right, rgb(25, 80, 161), rgb(48, 158, 90));
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 30px darkslategray;
}

.classLeft {
    width: 50%;
    padding: 1rem;
    margin-top: 40px;
}

.classRight {
    width: 50%;
    padding: 1rem;
    margin-top: 40px;
}

h1 {
    font-family: sans-serif;
    margin-block-end: 1rem;
    background-color: red;
    background-image: linear-gradient(45deg, #f0e96f, #e66a8d);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

p {
    font-size: 1.25rem;
    font-family: sans-serif;
    margin-block-end: 1rem;
    color: lemonchiffon;
}

button {
    color: black;
    background-color: rgb(201, 171, 91);
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: 1rem;
    border-radius: 0.5rem;
    margin-right: 2rem;
    padding: 10px;
}

button:hover {
    color: azure;
    background-color: rgb(201, 171, 91);
}

@media (max-width: 768px) {
    .header {
        flex-direction: row;
        gap: 30px;
        padding: 30px;
        font-size: 1.25rem;
    }

    a:hover{
        font-size: 2rem;
    }

    .classLeft,
    .classRight {
        width: 100%;
    }
}
